{
  "overrides": [{
    "files": "*.flow",
    "options": {
      "parser": "flow"
    }
  }, {
    "files": "*.tsx?",
    "options": {
      "parser": "typescript"
    }
  }],
  "bracketSpacing": false,
  "semi": false,
  "singleQuote": true
}